:root {
    --main-bg-color: #fe0065;
    --secondary-bg-color: #f2f2f2;
    --main-screen-bg-color: #98cb98;
    --secondary-screen-bg-color: #9e9d9d;
    --main-buttons-color: #585858;
    --square-buttons-color: #7ca9f7;
  }
  
  .red {
    background-color: #ff0000;
  }
  .yellow {
    background-color: #fecb65;
  }
  .green {
    background-color: #32cb65;
  }
  .blue {
    background-color: #3298cb;
  }
  
  .light-blue {
    background-color: #85bdfe;
  }
  .light-red {
    background-color: #fe98cb;
  }
  .light-yellow {
    background-color: #fefecb;
  }
  .light-green {
    background-color: #98fe00;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--secondary-bg-color);
  }
  
  .logo {
    justify-self: start;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-container {
    width: 100%;
    height: 80px;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-search {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  input {
    text-align: center;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
  }
  /* poke-dex */
  #pokedex {
    height: 342px;
    width: calc(228px * 2);
    display: flex;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    #pokedex {
      width: 90%;
    }
  }
  
  /* LEFT PANEL */
  #left-panel {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 23% 50% 27%;
    border: solid black 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 7px;
  }


/* Center Screen */

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 150px;
  height: 150px;
  border: solid black;
  border-radius: 0 0 0 17%;
  display: grid;
  grid-template-rows: 10% 72% 18%;
  background-color: white;
}

#pokemon-screen {
  height: 100%;
  width: 80%;
  justify-self: center;
  background-color: var(--main-screen-bg-color);
  border: solid black 2px;
  border-radius: 5%;
  background-image: url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.green-screen {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: solid black 2px;
  background-color: #3ab47d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name-screen {
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 8.5px;
  overflow-wrap: break-word;
}

/* top screen */
.top-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* RIGHT PANEL */

#right-panel {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-rows: 24% repeat(4, 19%);
  border-bottom: solid black 3px;
  border-bottom-right-radius: 10px;
}
#right-panel::before {
  content: '';
  position: absolute;
  left: -3px;
  bottom: 0;
  width: 100%;
  height: 265px;
  border-right: solid black 3px;
  border-bottom-right-radius: 7px;
}

.right-panel-screen {
  font-family: 'Press Start 2P', cursive;
  width: 160px;
  height: 200px;
  background-color: var(--secondary-screen-bg-color);
  border: solid black 2px;
  border-radius: 4px;
  font-size: xx-small;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-left: 8px;
  line-height: 2;
}
